.container {
  width: 400px;
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  position: relative;
  display: flex;
}
.image-prev,
.image-next {
  position: absolute;
  transform: translateX(-100%);
  width: 100%;
}
.image-active {
  transition-property: transform;
  transition: ease-out 0.3s;
}
.image-next {
  transform: translateX(100%);
}
img {
  max-width: 100%;
}
.prev,
.next {
  position: absolute;
  font-size: 5rem;
  cursor: pointer;
  user-select: none;
  color: white;
}
.prev {
  top: 50%;
  transform: translateY(-50%);
}
.next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
